.cru_bd:after,.cru_main:after,.flt_item:after,.items_inner:after,.label_box:after,.route_list_in:after,.route_list_link:after,.sort_box:after,.tab_item:after {
	display:block;
	clear:both;
	height:0;
	content:'.';
	overflow:hidden;
	visibility:hidden
}

.flt_wrap {
	position:relative;
	z-index:4;
	margin-bottom:20px;
	border:1px solid #e8e8e8;
	background-color:#fff
}
.flt_crumb {
	position:relative;
	z-index:1;
	padding:0 20px;
	background:#f0f9ff;
	overflow:hidden;
	zoom:1
}
.flt_total {
	float:left;
	line-height:40px
}
.flt_total .num {
	margin:0 2px;
	font-size:18px;
	color:#3598dc;
	font-weight:700;
	vertical-align:bottom;
	*vertical-align:middle
}
.flt_total .h {
	margin-right:2px;
	color:#3598dc
}
.crumb_nav {
	overflow:hidden;
	zoom:1
}
.crumb_nav {
	padding:8px 0 4px 12px
}
.crumb_item {
	position:relative;
	z-index:1;
	float:left;
	margin:0 4px 4px 0;
	padding:0 26px 0 6px;
	height:22px;
	line-height:22px;
	border:1px solid #e8e8e8;
	background-color:#fff;
	color:#333
}
.crumb_item i.fa-close {
	position:absolute;
	z-index:1;
	top:4px;
	right:6px;
	width:12px;
	height:12px;
    font-size: 12px;
}
.crumb_item:hover i.fa-close{
    color: #3598dc;
}
.crumb_item:hover {
	border-color:#3598dc;
	text-decoration:none
}
.crumb_nav .clear {
	float:left;
	padding:0 4px;
	line-height:24px
}
.flt_box {
	margin-top:-1px;
	padding:0 20px;
	zoom:1
}
.flt_item {
	position:relative;
	padding-top:1px;
	height:41px;
	overflow:hidden;
	zoom:1;
    border-bottom: 1px solid #eee;
}
.flt_item_hover {
	position:static
}
.flt_item .hd {
	float:left;
	padding:10px 0 0 2px;
	width:75px;
	line-height:20px;
	font-weight:700;
	_display:inline
}
.flt_item .bd {
    *zoom: 1;
        margin: 0 100px 0 70px;
}
.flt_item .more {
	position: absolute;
    top: 0; right: 0;left: auto;
	z-index:1;
	padding:0 15px 0 5px;
	width:50px;
	line-height:40px
}
.flt_item .more .i_arr {
	position:absolute;
	z-index:1;
	top:14px;
	right:1px;
	width:12px;
	height:12px;
    text-align: center;
}
.flt_item .multiple {
	margin-top:10px;
	margin-left:18px;
	padding:0 4px;
	height:18px;
	line-height:18px;
	border:1px solid #ccc;
	border-radius:4px;
    color: #333;
    position: absolute;right: 0;top: 0;
}
.flt_item .multiple i {
	    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 12px;
    text-align: center;
	vertical-align:1px;
	*vertical-align:4px;
    *margin-left: 1px;
}
.flt_item .multiple:hover {
	border-color:#999;
	text-decoration:none
}
.flt_item_active {
	padding-bottom:1px;
	height:auto
}
.items_inner {
	padding:0 0 10px 2px;
	zoom:1
}
.items_inner .checkbox {
    display:none;
}
.items_inner .item {
	float:left;
	margin:10px 14px 0 0;
	padding:0 0 0 6px;
	height:20px;
	line-height:20px;
	color:#333;
	white-space:nowrap;
	cursor:pointer
}
.items_inner .item span {
	display:block;
	padding:0 5px
}
.items_inner .item:hover {
	color:#fff;
	text-decoration:none;
	_color:#3598dc
}
.items_inner .item:hover span {
	background-color:#3598dc
}
.items_inner .disabled,.items_inner .disabled:hover {
	padding-left:11px;
	color:#999
}
.items_inner .item_event {
	position:relative;
	z-index:1;
	margin:0 7px 0 0;
	padding:0;
	height:37px;
	line-height:32px;
	border-top:4px solid #fff;
	cursor:pointer
}

.items_inner .item_event span {
	padding:0 23px 0 11px;
	height:36px;
	border-left:1px solid #fff;
	border-right:1px solid #fff
}
.items_inner .item_event .i_arr {
	position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    text-align: center;
    background-position: 0 -174px;
}
.items_inner .item_event:hover,.items_inner .item_hover {
	position:relative;
	z-index:7;
	height:36px;
	line-height:33px;
	border-color:#3598dc;
	color:#333;
	box-shadow:0 -2px 4px rgba(0,0,0,.2)
}
.items_inner .item_event:hover span,.items_inner .item_hover span {
	padding:0 23px 0 11px;
	height:37px;
	border-color:#ccc;
	background-color:#fff;
	background-position:100% 15px
}
.flt_item_active .more .i_arr {
	background-position:-10px -170px
}
.flt_item_active .item_event {
	margin-bottom:-10px;
	height:36px
}
.flt_sub_box {
	display:block;
	/*position:absolute;*/
	z-index:6;
	top:119px;
	left:92px;
	width:1065px;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:0 0 4px rgba(0,0,0,.2)
}
.flt_sub_box .item {
	position:absolute;
	margin-top:0;
	height:37px;
	line-height:33px;
	border-color:#3598dc;
	color:#333;
	box-shadow:0 -3px 4px rgba(0,0,0,.2)
}
.flt_sub_box .item span {
	padding:0 23px 0 11px;
	height:37px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background-color:#fff
}
.flt_sub_box .flt_sub {
	display:inline-block;
	padding:4px 0 10px 10px;
	overflow:hidden;
	*display:inline;
	zoom:1;
	vertical-align:top
}
.flt_sub_box .s_item {
	float:left;
	position:relative;
	margin:5px 20px 0 0;
	padding:0 4px;
	height:20px;
	line-height:20px;
	color:#333;
	white-space:nowrap
}
.flt_sub_box .s_item:hover {
	background-color:#3598dc;
	color:#fff;
	text-decoration:none
}
.flt_sub_box .checkbox {
	display:none
}
.flt_sub_multiple .s_item {
	padding-left:18px;
	padding-right:0;
	border-bottom:1px dotted #fff
}
.flt_sub_multiple .s_item:hover {
	background-color:#fff;
	border-color:#3598dc;
	color:#333
}
.flt_sub_multiple .checkbox {
	display:block;
	position:absolute;
	top:3px;
	left:0;
	width:12px;
	height:12px;
	border:1px solid #aaa
}
.flt_sub_multiple .checked {
	width:14px;
	height:14px;
	border:0 none;
	background-position:-126px -70px
}
.mul_button {
	display:none;
	float:none;
	padding-top:10px;
	clear:left;
	text-align:center
}
.mul_button .btn_cancle,.mul_button .btn_ok {
	display:inline-block;
	margin:0 3px;
	padding:0 6px;
	height:18px;
	line-height:18px;
	border:1px solid #3598dc;
	background-color:#3598dc;
	border-radius:3px;
	color:#fff;
	text-align:center;
	*line-height:19px
}
.mul_button .btn_cancle {
	border-color:#ccc;
	background-color:#fff;
	color:#333
}
.mul_button .btn_cancle:hover {
	border-color:#aaa
}
.mul_button a:hover {
	text-decoration:none
}
.mul_button .btn_disabled {
	border-color:#ccc;
	background-color:#ccc;
	color:#fff;
	cursor:default
}
.flt_item_multiple {
	margin:-1px -21px 0 -21px;
	padding:0 20px;
	height:auto;
	border:1px solid #ccc;
	background:0
}
.flt_item_multiple .item {
	margin-left:11px;
	margin-right:24px;
	padding-left:14px;
	border-bottom:1px dotted #fff
}
.flt_item_multiple .item span {
	padding-right:0
}
.flt_item_multiple .disabled {
	margin-left:0;
	padding-left:11px;
	cursor:default
}
.flt_item_multiple .checkbox {
	position:absolute;
	margin:3px 0 0 -14px;
	width:12px;
	height:12px;
	border:1px solid #aaa
}
.flt_item_multiple .checked {
	width:14px;
	height:14px;
	border:0 none;
	background-position:-126px -70px
}
.flt_item_multiple .item:hover {
	border-bottom:1px dotted #3598dc;
	color:#333
}
.flt_item_multiple .item:hover span {
	background-color:#fff
}
.flt_item_multiple .disabled:hover {
	border-color:#fff;
	color:#999
}
.flt_item_multiple .mul_button {
	display:block
}
.flt_item_multiple .item_event {
	margin-bottom:-10px;
	margin-left:0;
	margin-right:7px;
	padding-left:0;
	height:36px
}
.flt_item_multiple .item_event span {
	padding-left:30px;
	padding-right:22px
}
.flt_item_multiple .item_event .checkbox {
	margin:9px 0 0 12px
}
.flt_item_multiple .item_hover {
	margin-left:0;
	padding-left:0
}
.flt_item_multiple .item_event:hover span,.flt_item_multiple .item_hover span {
	padding-left:30px;
	padding-right:22px
}
.flt_item_multiple .item_hover:after {
	position:absolute;
	top:25px;
	left:12px;
	right:22px;
	border-bottom:1px dotted #3598dc;
	content:""
}
.flt_item_multiple .more {
	display:none
}
.flt_item .i_point {
	position:absolute;
	top:7px;
	right:18px;
	width:6px;
	height:6px;
	background-position:-107px -124px
}
.flt_dl {
	overflow:hidden
}
.flt_dl dt {
	float:left;
	width:65px;
	overflow:hidden;
	*zoom:1
}
.flt_dl dd {
	overflow:hidden;
	*zoom:1
}
.flt_dl .s_item {
	padding:0 4px;
	border-bottom:0 none
}
.flt_dl .s_item:hover {
	background-color:#3598dc;
	color:#fff
}