body {
    font-family: Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", simsun, "\9ed1\4f53", STHeiti, sans-serif;
}
p {
    margin: 10px 0;
}
.logo {
    max-width: 300px;
    width: 100%;
}

#promo-block {
    height: 350px;
}

.item img {
    width: 100%;
}

#testimonials-block .item blockquote p {
    color: #fff;
}

.item .valign-center-elem .text-18 {
    font-size: 18px;
}

#Deck .tab-content .item .img-responsive {
    height: 150px;
    width: auto;
    margin: 0 auto;
}

#Deck .tab-content .deck_icon li {
    list-style-type: none;
    float: left;
}

    #Deck .tab-content .deck_icon li .tagcabin {
        margin: 2px 0px 2px 4px;
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        display: inline-block;
    }

#Deck .tab-content .tab-pane {
    width: 100%;
}
.label_collection span {
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.site-logo {
    padding: 0;
}

.menu-always-on-top .header {
    background: #fff;
    top: 0;
    bottom: auto;
    position: fixed;
}
#prices .container .row .col-md-20 {
        width: 20%;
    }