.lists {
    *position: relative
}
.cards-wrap .cards .loading {
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.mylist {
    white-space: normal;
    vertical-align: top;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    margin-bottom:20px;
}

    .list.ui-sortable-placeholder {
        background: #e2e2e2;
        visibility: visible !important;
        box-shadow: none;
        border: 1px solid #d5d5d5
    }

    .list.ui-sortable-helper {
        border: 1px solid #cacaca;
        box-shadow: 0 3px 15px -3px rgba(0,0,0,0.2)
    }

.add-list {
    width: 244px;
    padding: 13px 18px 13px;
    padding: 12px 18px 13px \9;
    cursor: pointer;
    background: #f5f6f7
}

    .add-list span {
        font-size: 14px;
        color: #b5c4c7;
        line-height: 16px;
        *line-height: normal;
        display: inline-block;
        *vertical-align: 0;
        *margin-left: 5px;
        visibility: hidden;
        opacity: 0;
        line-height: 18px;
        transition: opacity .2s;
        vertical-align: middle
    }

    .add-list:hover span {
        visibility: visible;
        opacity: 1
    }

.list-add-card {
    padding: 6px 0 6px 8px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1)
}

    .list-add-card input.temp-add-list-input {
        height: 18px;
        line-height: 1;
        width: 255px;
        font-size: 15px;
        border: 1px solid #cdd0d1;
        padding: 6px 0 6px 10px;
        *padding: 7px 0 4px 10px;
        color: #b5c4c7;
        box-shadow: none;
        border-radius: 3px 0 0 3px;
        *vertical-align: middle;
        width: 185px !important
    }

        .list-add-card input.temp-add-list-input:focus {
            color: #3b434d
        }

        .list-add-card input.temp-add-list-input.gray:focus {
            color: #b5c4c7
        }

    .list-add-card .temp-save-list-btn, .list-add-card .temp-cancel-list-btn {
        display: inline-block;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px
    }

        .list-add-card .temp-save-list-btn.focus {
            background-color: #5091f9
        }

.list-header {
    padding: 6px 6px 6px;
    border-radius: 3px 3px 0 0;
    position: relative;
    *zoom: 1
}
.list-header .badge{
  position:absolute;
  right:15px;
  top:13px;
}

    .list-header .menu-wrap {
        top: 10px;
        right: 8px;
        position: absolute
    }

        .list-header .menu-wrap .more {
            display: block;
            width: 17px;
            height: 17px;
            text-align: center;
            line-height: 15px;
            border: 1px solid #b5c4c7;
            border-radius: 2px;
            background-color: #fff
        }

    .list-header:hover .menu-wrap {
        display: block
    }


.list-header .list-title {
    line-height: 32px;
    font-size: 15px;
    color: #3b434d;
    margin-right: 20px;
    max-width: 230px;
    padding-left: 10px;
    *width: 230px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 2px;
    transition: background-color .2s;
    padding: 0 0 0 10px;
    margin: 0 20px 0 0;
}

    .list-header .list-title .list-title-name {
        display: inline-block;
        max-width: 190px
    }

    .list-header .list-title.able-to-hover:hover {
        background: #ececec
    }

.list-header .list-title-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 4px
}

.list-header .list-title-avatar-default {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #b9cdef;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-family: Arial,'寰蒋瀹嬩綋','瀹嬩綋'
}

.list-header .list-title-wrap {
    display: none
}

.list-header input.control-list-title {
    height: 18px;
    line-height: 1;
    width: 255px;
    font-size: 15px;
    border: 1px solid #cdd0d1;
    padding: 6px 0 6px 10px;
    *padding: 7px 0 4px 10px;
    color: #b5c4c7;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
    *vertical-align: middle;
    display: none
}

.list-header .control-list-title:focus, .list-header .control-list-title.focus {
    color: #3b434d
}

.list-header .save-btn {
    border-radius: 0 2px 2px 0;
    margin-left: -5px
}



.cards-wrap {
    *position: relative;
    border-top: 1px solid #e8e8e8;
    /*margin-bottom: -1px;*/
    background-color: #fff
}

    .cards-wrap::-webkit-scrollbar {
        width: 7px;
        background-color: #fff;
    }

    .cards-wrap::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .cards-wrap::-webkit-scrollbar-thumb {
        background-color: #b2b2b2;
    } 

    .cards-wrap .cards {
        white-space: normal;
        margin:0;padding:0;
    }

        .cards-wrap .cards > .card {
            border-top: 1px solid #e8e8e8
        }

            .cards-wrap .cards > .card:first-child {
                border-top: 0
            }

    .cards-wrap .add-card-wrap {
        display: none;
        padding: 10px;
        border-radius: 0 0 3px 3px;
        border-top: 1px solid #dbdfe0;
        margin-top: -1px;
        position: relative;
    }

        .cards-wrap .add-card-wrap .add-card-div {
            margin-bottom: 10px
        }

        .cards-wrap .add-card-wrap .column-switch {
            border: 1px solid #cdd0d1;
            padding: 6px 20px 6px 9px;
            color: #969a9f;
            position: relative;
            cursor: pointer
        }

            .cards-wrap .add-card-wrap .column-switch.red-error {
                border-color: #f00
            }

            .cards-wrap .add-card-wrap .column-switch .icon-arrow-down-light {
                position: absolute;
                right: 8px;
                top: 13px
            }

        .cards-wrap .add-card-wrap .exptition-time-wrap, .cards-wrap .add-card-wrap .principal-wrap {
            display: inline-block;
            float: left
        }

            .cards-wrap .add-card-wrap .exptition-time-wrap i, .cards-wrap .add-card-wrap .principal-wrap i {
                vertical-align: middle
            }

        .cards-wrap .add-card-wrap .principal-wrap {
            margin-left: 5px
        }

        .cards-wrap .add-card-wrap .exptition-time-wrap input {
            width: 90px;
            border: solid 1px #fff
        }

        .cards-wrap .add-card-wrap .exptition-time-wrap input {
            border: solid 1px #cdd0d1\9
        }

        .cards-wrap .add-card-wrap .principal-wrap input {
            width: 90px;
            border: solid 1px #fff;
            vertical-align: middle !important
        }

        .cards-wrap .add-card-wrap .principal-wrap input {
            border: solid 1px #cdd0d1\9
        }

    .cards-wrap .control-add-card {
        margin-bottom: 9px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 9px;
        width: 100%;
        height: 54px;
        border: 1px solid #cdd0d1;
        border-radius: 2px;
        font-size: 15px;
        color: #b5c4c7;
        resize: vertical;
        display: block
    }

        .cards-wrap .control-add-card:focus, .cards-wrap .control-add-card.focus {
            color: #3b434d
        }

.list-bottom {
    vertical-align: top;
    /*width: 280px;*/
    cursor: pointer;
    line-height: 16px;
    *display: inline;
    *zoom: 1;
    position: relative;
    border-top: 1px solid #dbdfe0;
    background-color: #fff;
    transition: background-color .3s;
    border-radius: 0 0 4px 4px
}

    .list-bottom .icon-board-add {
        vertical-align: middle
    }

    .list-bottom .add-card-placeholder {
        padding: 11px 15px 12px;
        font-size: 14px;
        color: #7b9196
    }

        .list-bottom .add-card-placeholder i {
            vertical-align: -3px
        }

        .list-bottom .add-card-placeholder span {
            vertical-align: middle;
            display: inline-block;
            *margin-left: 5px;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s
        }

    .list-bottom:hover {
        background-color: #f5f6f7
    }

        .list-bottom:hover span {
            visibility: visible;
            opacity: 1
        }

.hide-finished-task .card-finished {
    display: none
}

.card {
    white-space: normal;
    position: relative;
    font-size: 14px;
    transition: background-color .2s
}

    .card.ui-sortable-helper {
        background: #fff;
        border: 1px solid #d0d0d0;
        box-shadow: 0 3px 15px -3px rgba(0,0,0,0.2);
        border-radius: 3px;
        overflow: hidden
    }


    .card .card-event {
        padding: 10px 15px;
    }

        .card .card-event .column-name {
            background: #acb5c3;
            color: #fff;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            border-radius: 3px;
            padding: 0 5px;
            margin-left: 5px
        }

    .card .card-name {
        color: #363636;
        word-wrap: break-word;
        font-weight: normal;
        overflow: hidden;
        line-height: 19px;
        font-size:14px;
    }
        .card .card-name .title {
            font-weight: bold;
            margin: 0;
            height: 25px;
            line-height: 25px;
            margin-bottom: 5px;
        }
        .card .card-name .line {
            margin: 0 0 5px 0;
        }
        .card .card-name .list {
            margin: 0;padding:0;
        }
            .card .card-name .list li {
                padding: 5px 7px;
                background: #f5f5f5;
                margin-bottom:5px;
            }
            .card .card-name .list li p{
                margin: 0;
            }
            .card .card-name .list .money .pull-right {
                color: #e7505a;font-size:16px;
            }
        .card .finish-card-btn {
            margin-top: 2px;
            margin-top: 4px\0\9;
            float: left;
            cursor: pointer;
            margin-right: 5px;
            line-height: 20px
        }
    /*checkbox_style*/
    .card .finish-card-btn  input[type="checkbox"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        display: none;
        width: 20px;
        height: 20px;
        border: 1px solid #b5c4c7;
        border-radius: 2px;
        background-color: #fff;
    }

        .card .finish-card-btn input[type="checkbox"] + span {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url('/assets/global/plugins/icheck/skins/minimal/grey.png') no-repeat;
            background-position: 0 0;
        }
    .card .finish-card-btn input[type="checkbox"]:checked + span {
        background-position: -40px 0
    }
    /*checkbox_style*/
    .card .div-cover {
        overflow: hidden;
        max-height: 150px;
        margin-top: 4px;
        margin-bottom: 6px;
        text-align: center
    }

        .card .div-cover .img-cover {
            max-width: 250px
        }

    .card .card-head {
        *zoom: 1;
    }

        .card .card-head:before, .card .card-head:after {
            content: " ";
            display: table
        }

        .card .card-head:after {
            clear: both
        }
    .card .card-action {
        margin: 5px 0 0 0;
        min-height: 25px;
        line-height: 25px;
    }

    .card.card-finished .card-name {
        color: #999;
        text-decoration: line-through
    }

    .card.card-finished.date-outdate .date {
        color: #808080
    }

    .card.date-outdate .date {
        color: #b94947
    }

    .card.date-outdate .field.time {
        background: #f2dedf;
    }

    .card.card-finished.date-outdate .field.time {
        background: #f0f0f0
    }

    .card.ui-sortable-placeholder {
        background: #f0f0f0;
        border: 1px solid #f0f0f0;
        visibility: visible !important
    }

    .card .more-action {
        position: absolute;
        top: 7px;
        right: 10px;
        width: 17px;
        height: 17px;
        text-align: center;
        line-height: 15px;
        border-radius: 2px;
        border: 1px solid #b5c4c7;
        *top: 9px;
        font-size: 16px;
        color: #b5c4c7;
    }
        .card .more-action i{
width:15px;height:15px;line-height:15px;text-align:center;
        } 
        .card .more-action:hover {
            color: #3b434d;
        }
        .card .meta {
            line-height: 28px;
            min-height: 28px
        }

        .card .meta .field {
            display: inline-block;
            background: #f0f0f0;
            font-size: 12px;
            vertical-align: top;
            height: 14px;
            line-height: 14px;
            padding: 3px;
            border-radius: 3px;
            height:20px;
        }

        .card .meta .pull-left, .card .meta .pull-right {
            height: 28px;
            padding-top:4px;
        }

        .card .meta .standard-board-pull-right {
            margin-bottom: 5px;
            margin-top: -4px
        }

    .card .date {
        font-size: 12px;
        /*display: inline-block;*/
        line-height: 14px;
        vertical-align: 1px\9;
    }

    .card .attachment {
        vertical-align: top
    }

    .card .icon-time-s {
        margin-right: 2px;
        color: #b94947;
    }

    .card .comment {
        position: relative
    }

        .card .attachment-num, .card .comment.none {
            display: none
        }

        .card .comment .icon-dot-red {
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 6px
        }

    .card .avatars {
        position: relative;
        white-space: nowrap;
        line-height: 18px
    }

    .card .avatar-container {
        display: inline-block
    }

    .card .avatar {
        position: relative;
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: -9px;
        float: right
    }

    .card .avatar-more {
        position: relative;
        display: inline-block;
        border: 1px solid #dcdcdc;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        opacity: .4;
        *right: 90px;
        *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        background: #f9f9f9;
        text-align: center;
        font-size: 20px;
        color: #666;
        font-weight: bold;
        float: right;
        margin-right: -9px
    }

    .card .avatar0 {
        opacity: 1;
        *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
    }

    .card .avatar1 {
        opacity: .7;
        *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70)
    }

    .card .avatar2 {
        opacity: .5;
        *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
    }

    .card .avatars-others {
        display: none;
        position: absolute;
        background: #fff;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px
    }

        .card .avatars-others li {
            padding: 2px;
            font-size: 12px;
            line-height: 30px
        }

        .card .avatars-others .avatar {
            margin-right: 4px
        }

    .card .label-wrap {
        background: none;
        top: 0;
        left: 15px;
        position: absolute;
        height: 3px;
        overflow: hidden
    }

        .card .label-wrap .color {
            display: inline-block;
            height: 3px;
            width: 32px;
            vertical-align: top;
            line-height: 3px
        }

.board-closed .list-header .list-title {
    background-color: transparent;
}


.add-card-column-item {
    width: 258px
}

    .add-card-column-item .add-card-column-item-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
