@{
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
    @await Html.PartialAsync("MyStyle")
    <style type="text/css">
        body {
            background-color: #f3f3f4;
        }
    </style>
</head>
<body data-ng-app="myApp" class="login" style="min-height:500px;">
    <div class="page-container" style="padding: 0;">
        <div class="page-content-wrapper">
            <div class="bordered">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- BEGIN COPYRIGHT -->
    @await Html.PartialAsync("MyScript")

    @RenderSection("scripts", required: false)
</body>
</html>