*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.fullPage{
    width: 100%;
    height: auto;
    position: relative;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    min-width:1280px;
    min-height:475px;
}
.full-box{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top:0;
}
.full-box .full{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.full-nav{
    position: absolute;
    right:30px;
    top:50%;
    display: none;
}

/* ----------------------nav 和 嵌套nav-------------------------- */
.full-nav > li,
.nest-full-nav > li {
    width: 15px;
    height: 15px;
    background: #9d9d9d;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.full-nav>li{
    margin-top: 15px;
    position: relative;
}
.nest-full-nav>li{
    float: left;
    margin-left: 15px;
    position: relative;
}
.full-nav>li:first-child,
.nest-full-nav>li:first-child{
    margin: 0;
}
    .full-nav > li.active,
    .nest-full-nav > li.active {
        background: #3598dc;
    }
.full-nav>li:hover,
.nest-full-nav>li:hover{
    opacity: 0.6;
}
/*============================嵌套full=========================*/
.nest-full-box{
    position: absolute;
    left: 0;
    top: 0;
}
.nest-full-box .nest-full{
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.nest-full-nav{
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: none;
}
/*-----------------------左右按钮-------------------- */
.full-btn{
    width: 80px;
    height: 80px;
    background: #000;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    top:50%;
    margin-top:-40px;
    cursor: pointer;
    opacity: .6;
    display: none;
}
.btn-left{
    left:80px;
}
.btn-right{
    right:80px;
}
/*---------------------------nav tips-----------------------*/
.tip-box{
    position: absolute;
    right: 18px;
    top: -5px;
    width: 140px;
    height: 30px;
    font-size: 12px;
    display: none;
}
.tip-content{
    float: right;
    width:auto;
    height: 25px;
    line-height: 25px;
    border:1px #000 solid;
    padding:0 10px;
    background: #000;
    color: #ffffff;
    opacity: .8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.san{
    float: right;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #000;
    border-bottom: 8px solid transparent;
    margin-top:4px;
    opacity: .8;
}
/*---------------------------header-----------------------*/
.header{
    width: 100%;
    height:auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index:1991620;
}
.header ul{
    float: right;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-right: 100px;
}
.header ul li{
    float: left;
    padding:15px 10px;
    text-align: center;

}
.header ul li a{
    display: inline-block;
    width: 100%;
    color: #fff;
}
.mytel{
    position:absolute;
    right:40px;
    top:15px;
    font-size:28px;
    color:#eee;
}
    .mytel i.fa {
        font-size: 24px;
        border: 1px solid #3598dc;
        color:#eee;
        border-radius:50%;
        width:40px;height:40px;line-height:40px;
        text-align:center;
    }
        
        /*.show-list {
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 0;
    z-index: 6
}

.show-item {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative
}

    .show-item .show-box {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        text-align: center;
        z-index: 1
    }

        .show-item .show-box:before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 40px;
            width: 40px;
            border: 1px solid #3598dc;
            border: 1px solid var(--movie-color,#3598dc);
            border-radius: 100%;
            margin: -20px 0 0 -20px;
            z-index: -1;
            transition: border-width .6s cubic-bezier(.19,1,.22,1)
        }

        .show-item .show-box:hover:before {
            border-width: 20px
        }

        .show-item .show-box .icon-login {
            margin: 12px 0 0 0
        }

        .show-item .show-box .icon-login-help {
            margin: 11px 0 0 0
        }

    .show-item .tooltip {
        display: none;
        padding: 10px 18px 10px;
        background: rgba(4,9,25,.43);
        border: 1px solid #3598dc;
        width: 180px;
        position: absolute;
        top: 80px;
        right:-30px;
        opacity: 1;
        text-align:center;
    }

        .show-item .tooltip:before {
            content: "";
            width: 1px;
            height: 40px;
            background: #3598dc;
            position: absolute;
            right: 48px;
            top: -41px;
        }

        .show-item .tooltip h4 {
            color: #fff;
            line-height: 30px;
            font-size: 14px
        }
        .show-item .tooltip .tel{
            font-size:24px;
        }

        .show-item .tooltip-sm {
            width: 60px;
            left: -30px
        }

        .show-item .tooltip-sm:before {
            left: 48px
        }

    .show-item .qrcode {
        width: 114px;
        height: 114px;
        margin: 7px auto;
    }

        .show-item .qrcode img {
            width: 100%;
            height: 100%;
            display: block;
            margin:0 auto;
        }

    .show-item:hover .tooltip {
        display: block;
    }*/
        /*---------------------------footer-----------------------*/
        .myfooter {
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            background: #000;
            color: #484848;
            text-align: center;
            padding: 0;
            background: #f4f4f4;
            z-index: 3;
        }
.screen-warp {
    z-index: 2;
    width: 1280px;
    height:100%;
   min-height:850px;
    position: relative;
    margin:0 auto;
}
.screen-title {
    width: 500px;
    position: absolute;
    left: 50%;
    top: -120px;
    margin-left: -250px;
    color: #222;
    text-align: center;
}
.screen-img1 {
    background: url('http://static.api.ylsdai.com/images/index/screen2_1.png') 0 0 no-repeat;
    width: 1280px;
    height: 213px;
    position: absolute;
    margin: 0 0 0 -640px;
    left: 50%;
    top: 250px;
}

.screen-img2 {
    width: 1200px;
    height: 990px;
    background: url('http://static.api.ylsdai.com/images/index/screen2_2.png') center bottom no-repeat;
    position: absolute;
    margin: 0 0 0 -600px;
    left: 50%;
    bottom: 0;
}
.screen-img3 {
    width: 1200px;
    height: 500px;
    background: url('http://static.api.ylsdai.com/images/index/screen4_1.png') 0 0 no-repeat;
    position: absolute;
    margin: -250px 0 0 -600px;
    top: 50%;
    left: 50%;
}
.fourth-screen .screen-title{
    color:#fff;
}
.whitebox {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #797d80;
    box-shadow: 0 10px 54px rgba(0,0,0,.15);
    margin-right: 20px;
    text-align: left;
    position: relative;
    padding: 45px;
    width: 100%;
}
    .whitebox:hover {
        transform: translate3d(0, -20px, 0);
        -webkit-transform: translate3d(0, -20px, 0);
    } 
    .whitebox .icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 20px 0 40px 0;
        display: block;
    }
    .whitebox .tit{
        font-size:24px;
        color:#222;
        padding-bottom:10px;
        border-bottom:2px solid #3598dc;
    }
    .whitebox p{
        font-size:16px;
       margin:30px 0 0 0;
    } 
    .screen-box1 {
        position: absolute;
        width: 1280px;
        height: 400px;
        top: 300px;
        left: 50%;
        margin-left:-640px;
    }
.screen-box2 {
    position: absolute;
    width: 1280px;
    height: 400px;
    top: 325px;
    left: 50%;
    margin-left: -640px;
}
    .screen-box2 ul{
        margin:0;padding:0;
    }
        .screen-box2 ul li {
            float: left;
            margin: 0 0 6px 8px;
            border: 1px solid #ececec;
        } 
    .first-screen .mycontent {
        width: 1352px;
        height: 500px;
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -676px;
    }

.first-screen .login-title {
    width: 496px;
    height: 68px;
    background: url('http://static.api.ylsdai.com/images/index/mytit.png') center 0 no-repeat;
    font-size: 0;
    color: transparent;
    position: absolute;
    z-index: 4;
    left: 50%;
    margin-left: -248px;
    top: 0;
}

.login-panel {
    width: 360px;
    padding: 0;
    height: 300px;
    background: #fff;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    left: 49%;
    top: 100px;
    margin-left: -165px;
    background: 0 0;
}

    .login-panel .login-form {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 16px;
        position: relative;
    }

        .login-panel .login-form .input-group {
            margin-bottom: 12px;
            position: relative;
        }

            .login-panel .login-form .input-group .icon {
                position: absolute;
                top: 13px;
                left: 21px;
                font-size: 16px;
                width: 20px;
                height: 21px;
                line-height: 21px;
            }

            .login-panel .login-form .input-group input {
                width: 360px;
                line-height: 20px;
                padding: 13px 0;
                border: none;
                padding-left: 60px;
                font-size: 16px;
                color: #222;
                background: #fff;
                border-radius: 3px;
                outline: none;
            }

    .login-panel .login-submit {
        padding: 0 0 20px;
    }

.login-submit .loginbtn,#join {
    width: 100%;
    display: block;
    height: 46px;
    line-height: 44px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    letter-spacing: 8px;
    background-color: #3598dc;
    outline: none;
    border-width: 0;
}

    .login-submit .loginbtn:hover, #join:hover {
        background-color: #337ab7;
    }
#join {
    width: 360px;
    position: absolute;
    top: 250px;
    margin: 0 auto 0 -165px;
    left: 49%;
    display:none;
}
    .login-footer {
        height: 32px;
        line-height: 32px;
        position: relative;
    }

    .login-footer .login-link {
        margin-right: 10px;
    }

    .login-footer a {
        color: #ccc;
    }

        .login-footer a:hover, .login-footer a:focus {
            color: #fff;
        }

    .login-footer .register {
        position: absolute;
        top: 0;
        right: 0;
    }

.required.error {
    margin-top: 0 !important;
}

.mylogo {
    width: 320px;
    height: 30px;
    padding-left: 59px;
    background: url('http://static.api.ylsdai.com/images/index/mylogo.png') top left no-repeat;
    display: block;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 20px;
    line-height: 30px;
    font-size: 26px;
    letter-spacing: 2px;
}

    .mylogo:hover, .mylogo:active, .mylogo:focus, .mylogo:visited {
        color: #ddd;
    }
.wechatbox {
    width: 360px;
    height: 430px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
    top: -15px;
    display:none;
    padding:15px;
}
    .wechatbox .return {
        position: absolute;
        top: 10px;
        right:12px;
    }
    .wechatbox .wechatlogin {
        text-align: center;
        margin: 15px auto;
    }
.second-screen {
    background: #fff;
    background: #fff -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(95%,#fff),color-stop(100%,#f4f4f4));
}
.screen-cicle {
    position: absolute;
    left: 50%;
    bottom: -100px;
    margin-left: -480px;
    z-index: 1;
    width: 960px;
    height: 960px;
}

    .screen-cicle .cicle {
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 960px;
        height: 960px;
        margin: -480px 0 0 -480px;
        border: 15px solid #e5f0ff;
        -webkit-animation: wave 5s infinite linear both;
        animation: wave 5s infinite linear both;
    }

    .screen-cicle .cicle-2 {
        -webkit-animation-delay: 1.25s;
        animation-delay: 1.25;
    }

    .screen-cicle .cicle-3 {
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
    }

    .screen-cicle .cicle-4 {
        -webkit-animation-delay: 3.75s;
        animation-delay: 3.75s;
    }

@-webkit-keyframes wave {
    0% {
        transform: scale(0);
        opacity: 1
    }

    25% {
        opacity: .75
    }

    50% {
        opacity: .5
    }

    75% {
        opacity: .25
    }

    100% {
        transform: scale(1);
        opacity: 0
    }
}

@keyframes wave {
    0% {
        transform: scale(0);
        opacity: 1
    }

    25% {
        opacity: .75
    }

    50% {
        opacity: .5
    }

    75% {
        opacity: .25
    }

    100% {
        transform: scale(1);
        opacity: 0
    }
}