.cru_logo_item, .i_activity, .i_article, .i_caret, .i_change, .i_city, .i_cruise, .i_date, .i_line, .i_sale, .ico, .ico_item_tri, .ico_sales01, .ico_sales02, .ico_sales03, .ico_sales04, .ico_sales05, .icon_book01, .icon_book02, .icon_book03, .icon_book04, .icon_book05, .icon_book_sep, .love_num_box i, .pop_calendar01_select i, .pop_calendar02_close, .s_clear, .s_input_clear, .site_box i, .travel_line_next, .travel_line_prev, .urgent_notice .close, .yj_info i {
    background-image: url(http://pic.c-ctrip.com/cruise/un_index_v2.png?160622);
    _background-image: url(http://pic.c-ctrip.com/cruise/un_index_v2_8.png?160622);
    background-repeat: no-repeat;
}

.travel_calendar {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    *zoom: 1;
    background: #fff;
    border-radius: 8px 8px 0 0;
}

    .travel_calendar a {
        font-size: 12px;
        color:#333;
    }
        .travel_calendar a :hover {
            color: #333;
            text-decoration: none;
        }
        .travel_calendar_hd {
            position: relative;
            z-index: 1;
            padding: 5px 205px 0 108px;
            height: 50px;
            border-bottom: 2px solid #1485e7;
            background: #3598dc;
            border-radius: 8px 8px 0 0;
            font-size: 14px;
            color: #fff;
            *zoom: 1;
        }

.travel_calendar_viewby {
    float: left;
    margin-left: -108px;
    padding-left: 20px;
    line-height: 43px;
}

.travel_line_box {
    position: relative;
    z-index: 1;
    height: 45px;
    overflow: hidden;
}

.travel_line_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 45px;
    overflow: hidden;
    *zoom: 1;
}

    .travel_line_list a {
        float: left;
        margin-left: 2px;
        padding: 0 16px;
        height: 43px;
        line-height: 43px;
        color: #fff;
        white-space: nowrap;
        word-break: keep-all;
        font-size: 14px;
    }

        .travel_line_list .current, .travel_line_list a:hover {
            position: relative;
            z-index: 1;
            height: 45px;
            background: #fff;
            border-radius: 6px 6px 0 0;
            color: #29e;
            text-decoration: none;
        }

.travel_line_next, .travel_line_prev {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.travel_line_prev {
    right: 46px;
    background-position: 0 -110px;
}

.travel_line_next {
    background-position: -32px -110px;
}

    .travel_line_next:after, .travel_line_prev:after {
        position: absolute;
        z-index: 3;
        top: -10px;
        width: 6px;
        height: 50px;
        content: "\20";
    }

.travel_line_prev:after {
    left: -996px;
    background-image: -webkit-linear-gradient(left,#1485e7,transparent);
    background-image: linear-gradient(left,#1485e7,transparent);
}
/*.travel_line_next:after {
	left:-53px;
	background-image:-webkit-linear-gradient(left,transparent,#1485e7);
	background-image:linear-gradient(left,transparent,#1485e7)
}*/
.travel_line_next:after {
    left: -245px;
    background-image: -webkit-linear-gradient(left,transparent,#1485e7);
    background-image: linear-gradient(left,transparent,#1485e7);
}

.travel_line_prev:hover {
    background-position: 0 -142px;
}

.travel_line_next:hover {
    background-position: -32px -142px;
}

.tlp_dis, .tlp_dis:hover {
    background-position: 0 -174px;
    cursor: default;
}

.tln_dis, .tln_dis:hover {
    background-position: -32px -174px;
    cursor: default;
}

    .tln_dis:after, .tlp_dis:after {
        display: none;
    }

.travel_calendar_switch {
    padding: 10px;
    height: 77px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    *zoom: 1;
}

.travel_cs_col {
    float: left;
    margin-right: 40px;
    _display: inline;
}

.travel_cs_title {
    margin-bottom: 5px;
    color: #999;
}
/*date-picker BEGIN*/
/*.switch_month {
	position:relative;
	z-index:2;
	height:34px;
    *zoom: 1;
}*/
.switch_month {
        position: absolute;
    z-index: 2;
    height: 34px;
    top: 10px;
    right: 10px;
}
.sm_next, .sm_prev {
    position: relative;
    z-index: 1;
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
}

.sm_next {
    border-radius: 0 3px 3px 0;
}

.i_caret {
    display: block;
    margin: 12px 13px 11px 14px;
    width: 5px;
    height: 9px;
    overflow: hidden;
}

.sm_prev .i_caret {
    background-position: -80px -230px;
}

.sm_next .i_caret {
    background-position: -84px -230px;
}

.sm_cont {
    float: left;
    margin: 0 -1px;
    width: 122px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all ease-out .2s;
}
.sm_cont .txt {
    font-size: 14px;
}
    .sm_cont .i_caret {
        display: block;
        margin: 1px auto;
        width: 9px;
        height: 5px;
        background-position: -80px -234px;
    }

    /*.sm_cont:hover {
        height: 42px;
        text-decoration: none;
    }*/

.sm_cont_list {
    display: none;
    position: absolute;
    z-index: 5;
    top: 33px;
    left: 33px;
    width: 122px;
    max-height: 240px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    overflow-y: auto;
    _height: 240px;
}

    .sm_cont_list a {
        display: block;
        padding-left: 6px;
        line-height: 30px;
        font-size: 14px;
        color: #333;
    }

.travel_calendar_switch .sm_cont_list a.current, .travel_calendar_switch .sm_cont_list a:hover {
    background-color: #29e;
    color: #fff;
    text-decoration: none;
}

/*.sm_next:hover, .sm_prev:hover {
    border-color: #29e;
}*/

    .sm_prev:hover .i_caret {
        background-position: -70px -230px;
    }

    .sm_next:hover .i_caret {
        background-position: -74px -230px;
    }

.smn_dis, .smn_dis:hover, .smp_dis, .smp_dis:hover {
    border-color: #ccc;
    background-color: #f5f5f5;
    cursor: default;
}

    .smp_dis .i_caret, .smp_dis:hover .i_caret {
        background-position: -101px -230px;
    }

    .smn_dis .i_caret, .smn_dis:hover .i_caret {
        background-position: -105px -230px;
    }
/*date-picker END*/
.travel_calendar_switch .city_box {
    position: relative;
    z-index: 2;
}

.travel_calendar_switch .city_item {
    margin-left: -4px;
    padding: 9px 0;
    height: 33px;
    line-height: 15px;
    overflow: hidden;
}

    .travel_calendar_switch .city_item a {
        float: left;
        margin-left: -1px;
        max-width: 95px;
        padding: 0 6px;
        height: 15px;
        border-left: 1px solid #ccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        *max-width: 90px;
    }

    .travel_calendar_switch .city_item .i_caret {
        display: inline-block;
        margin: 0 0 0 4px;
        width: 9px;
        height: 5px;
        background-position: -70px -234px;
        vertical-align: 2px;
        *vertical-align: 4px;
    }

    .travel_calendar_switch .city_item .all {
        padding-right: 0;
        *margin-top: -1px;
    }

.travel_calendar_switch .selected {
    cursor: default;
}

    .travel_calendar_switch .selected:hover {
        text-decoration: none;
    }

.travel_calendar_switch .city_item .selected {
    color: #333;
}

.travel_calendar_switch .city_pop {
    display: none;
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
}

.travel_calendar_switch .city_list {
    padding: 2px 0 10px 11px;
    overflow: hidden;
}

    .travel_calendar_switch .city_list a {
        float: left;
        margin-top: 8px;
        margin-right: 12px;
        padding: 0 4px;
        color: #333;
        white-space: nowrap;
    }

        .travel_calendar_switch .city_list a:hover {
            color: #29e;
            text-decoration: none;
        }

    .travel_calendar_switch .city_list .selected, .travel_calendar_switch .city_list .selected:hover {
        color: #999;
    }

.travel_calendar_switch .link_all {
    float: left;
    margin: 30px 10px 0 10px;
    height: 18px;
}

.travel_calendar_switch .link_all {
    float: right;
    margin-right: 0;
}

.travel_calendar_bd {
    background: #fff;
    *zoom: 1;
}

.t2 {
    position: relative;
    z-index: 1;
    width: 100%;
    *zoom: 1;
}

/*.t2_thead {
    position: relative;
    z-index: 5;
    margin-bottom: -4px;
    height: 20px;
    line-height: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #999;
    overflow: hidden;
    text-align: center;
    *zoom: 1;
}*/
.t2_thead {
    position: relative;
    z-index: 5;
    margin-bottom: -4px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #999;
    overflow: hidden;
    text-align: center;
    *zoom: 1;
}
    .t2_thead:after {
        clear: both;
        display: block;
        content: "\20";
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

.t2_th {
    float: left;
    width: 14.28%;
    font-size: 16px;
    font-weight: bold;
}

.t2_weekend {
    color: #f88;
}

.t2_tbody {
    padding-top: 4px;
    *zoom: 1;
}

    .t2_tbody:after {
        clear: both;
        display: block;
        content: "\20";
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

.t2_td, .t2_td_colspan {
    float: left;
    width: 14.28%;
    height: 88px;
    border: 1px solid #ccc;
    border-right: 0;
    margin-top: -1px;
    position: relative;
    overflow: hidden;
}

.t2_last {
    width: 14.32%;
    border-right: 1px solid #ccc;
}

.t2_td_colspan {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 68px;
    width: 314px;
    font-family: "Century Gothic",tahoma,arial,"Microsoft YaHei",STHeiti,simsun,sans-serif;
    background: #fff;
}

    .t2_td_colspan a {
        display: block;
        line-height: 90px;
        font-size: 16px;
        text-align: center;
    }

        .t2_td_colspan a:hover {
            background: #edf9ff;
        }

.t2_td a:hover {
    text-decoration: none;
}

.t2_td .a_available, .t2_td .a_unavailable {
    position: absolute;
    z-index: 1;
    padding: 0 5px;
    width: 157px;
    height: 88px;
    width: 100%;
}

    /*.t2_td .a_available:hover, .t2_td .hover {
        z-index: 3;
        padding: 1px 6px;
        border: 4px solid #29e;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.4);
        cursor: pointer;
    }*/

.t2_td .a_unavailable {
    cursor: default;
}

.t2_td_tit {
    position: relative;
    z-index: 1;
    margin: 0 -5px;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    background-color: #f5f5f5;
    overflow: hidden;
    *zoom: 1;
}

.t2_td_day {
    color: #333;
    font-size: 12px;
}

.t2_td_holiday, .t2_td_work {
    float: right;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    background-color: #999;
    color: #fff;
}

.t2_td_holiday {
    background-color: #f88;
}

.t2_td_tit .s_01, .t2_td_tit .s_02 {
    float: right;
    margin-right: 4px;
    height: 18px;
    border-bottom: 2px solid #f60;
    color: #f60;
    overflow: hidden;
}

.t2_td_tit .s_02 {
    border-color: #06d;
    color: #1069da;
}

.t2_td_rest, .t2_td_today {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    color: #fff;
}

.t2_td_today {
    left: 0;
    right: auto;
    background: #29e;
}

.t2_td_rest {
    background: #ff7373;
}

.a_unavailable .t2_td_day {
    color: #ccc;
}

.t2_td_route {
    display: block;
    position: relative;
    margin-bottom: 2px;
    height: 40px;
    padding-top: 5px;
    overflow:hidden;
}

    .t2_td_route a:hover {
        text-decoration: underline;
    }

.t2_td_schedule {
    display: block;
    position: relative;
    z-index: 1;
    width: 2em;
    height: 20px;
    overflow: hidden;
    border-bottom: 1px dashed #999;
    padding-top: 4px;
    color: #999;
    line-height: 1.2;
}
.t2_td .more {
    position: absolute;
    z-index: 1;
    left: 5px;
    bottom: 5px;
    width: 40px;
    height: 20px;
    color: #337ab7;
    font-size:12px;
}
    .t2_td .more:hover {
        cursor: pointer;
        color: #23527c;
        text-decoration:underline;
    }
    .t2_td .base_price {
    position: absolute;
    z-index: 1;
    right: 8px;
    bottom: 5px;
    color: #f60;
}

    .t2_td .base_price span {
        font-size: 18px;
    }

    .t2_td .base_price dfn {
        top: -1px;
        font-size: 12px;
    }

.t2_td .t2_td_month {
    position: absolute;
    width: 167px;
    height: 88px;
    line-height: 88px;
    font-size: 60px;
    color: #efefef;
    text-align: center;
    *line-height: 98px;
}

.t2_mask {
    position: absolute;
    z-index: 9;
    left: 1px;
    top: 20px;
    width: 1178px;
    height: 533px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYSURBVChTY/j3798zYvCoQryY2gr/PQMAb1SDkEqBhOgAAAAASUVORK5CYII=);
    _background: #fff;
}

.t2_loading {
    width: 200px;
    height: 170px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -85px;
    text-align: center;
    font: 16px/1.5 "Microsoft YaHei",STHeiti,simsun,sans-serif;
    color: #333;
}

    .t2_loading i {
        display: block;
        width: 130px;
        height: 130px;
        margin: 0 auto 4px auto;
        overflow: hidden;
        background: url(http://pic.c-ctrip.com/cruise/common/loading_130x130.gif) no-repeat;
    }

.t2_td .a_unavailable .t2_td_tit {
    background-color: #fff;
}

.t2_td .a_available:hover .t2_td_tit, .t2_td .hover .t2_td_tit {
    background-color: #d5ebfc;
}

/*.t2_td .a_available:hover .base_price, .t2_td .hover .base_price {
    right: 8px;
    bottom: 5px;
}*/

.s_sale {
    margin-left: 4px;
    padding: 2px 4px;
    background-color: #f60;
    color: #fff;
}

.pop_calendar02_list_col03 {
    float: right;
    margin-right: 10px;
    width:90px;
    height: 28px;
    text-align: right;
}

    .pop_calendar02_list_col03 .base_price {
        color: #f60;
    }

        .pop_calendar02_list_col03 .base_price dfn {
            position: static;
            font-size: 12px;
            font-style: normal;
        }

        .pop_calendar02_list_col03 .base_price span {
            font-size: 18px;
        }

.pop_calendar02 {
    width: 590px;
    /*position: absolute;
    z-index: 1;
    background: #fff;
    border-top: 4px solid #29e;
    box-shadow: 0 0 4px rgba(0,0,0,.4);*/
}

.pop_calendar02_box {
    position: relative;
    z-index: 1;
    border: 1px solid #ccc;
    border-top: 0 none;
}

.pop_calendar02_close {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border: 10px solid #fff;
    background-position: -162px -206px;
}

.pop_calendar02_hd {
    margin-bottom: -2px;
    padding-left: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.pop_calendar02_bd {
    /*padding-left: 20px;
    padding-bottom: 20px;*/
}

.pop_calendar02_scroll {
    margin-right: 18px;
    padding-right: 2px;
    /*max-height: 126px;*/
    overflow-y: auto;
    /*_height: 126px;*/
}

.pop_calendar02_list {
    overflow: hidden;
    *zoom: 1;
}

    .pop_calendar02_list a {
        display: block;
        height: 36px;
        margin-bottom: 2px;
        line-height: 36px;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        cursor: pointer;
        overflow: hidden;
        *zoom: 1;
    }

        .pop_calendar02_list a:hover {
            text-decoration: none;
            background-color: #fff;
        }

        .pop_calendar02_list a:last-child {
            margin-bottom: 0;
        }

.pop_calendar02_list_col02 {
    width: 450px;
    padding: 5px 0;
    height: 32px;
    line-height: 24px;
    color: #333;
    overflow: hidden; white-space: nowrap;text-overflow: ellipsis;word-break: keep-all;display: block;
    *zoom: 1;
}

.pop_calendar01 {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 197px;
    margin-left: -210px;
    width: 417px;
    height: 175px;
    border: 2px solid #29e;
    background: #fff;
}
.pop_calendar01_hd {
    padding: 36px 0 20px 0;
    line-height: 2;
    text-align: center;
    font-size: 18px;
}
.pop_calendar01_bd {
    font-size: 14px;
    text-align: center;
}
.pop_calendar01_select {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 28px 0 7px;
    width: 87px;
    height: 28px;
    border: 1px solid #ccc;
    margin-left: 12px;
    text-align: left;
    color: #333;
    background: #fff;
    line-height: 28px;
}
.pop_months {
    width: 122px;
    max-height: 240px;
    line-height: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    overflow-y: auto;
    font-size: 14px;
}