.cartbox {
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 320px;
    box-shadow: 0 1px 15px #ccc;
    z-index: 100;
}
.cartbox .cartbox-arrow {
        position: absolute;
    left: -12px;
    top: 16px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: #fff;
}
.carthead {
   background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    border-top:2px solid #1e88e5;
}

    .carthead .tit {
           margin: 0 56px 0 10px;
    font-size: 15px;
    font-weight: bold;
    }

        .carthead .tit .clear {
            font-size: 14px;
            font-weight: normal;
            position: absolute;
            top: 11px;right: 10px;
        }

.cartbody {
    background: #fff;
    overflow-y: scroll;
}
 /* 设置滚动条的样式 */
    .cartbody::-webkit-scrollbar {
        width: 7px;
    }
    /* 滚动条滑块 */
    .cartbody:hover::-webkit-scrollbar-thumb {
        background: rgb(187, 187, 187);
        display: block;
    }
    .cartbody .pro_item {
        width: auto;
        padding: 10px 10px 0 10px;
    }

    .cartbody .pro_item_desc {
        width: auto;
    }

        .cartbody .pro_item_desc .form-line {
            border-bottom: 1px solid #eee;
            position: relative;
        }

            .cartbody .pro_item_desc .form-line .cabin-tit {
                overflow: hidden;
                text-overflow: hidden;
                white-space: nowrap;
                font-size: 14px;
                text-overflow: ellipsis;
            }

            .cartbody .pro_item_desc .form-line .cabin-select {
                width: 100px;
                position: absolute;
                right: 15px;
                top: 10px;
            }

.cartfoot {
    width: 320px;
    height: 46px;
    line-height: 46px;
    background: #444851;
    position: relative;
    user-select: none;
}

    .cartfoot .mycart {
        font-size: 24px;
        color: #fff;
        width: 40px;
        display: inline-block;
        text-align: center;
        position: relative;
    }

    .cartfoot .cabin {
        display: inline-block;
        color: #fff;
    }

        .cartfoot .cabin .cart_num {
            font-size: 24px;
        }

    .cartfoot .btn_submit {
        background-color: #e4e4e4;
        color: #333;
        cursor: default;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border: 0;
        outline: 0;
        width: 120px;
        text-align: center;
        font-weight: bold;
    }

        .cartfoot .btn_submit.red {
            background-color: #e12330;
            cursor: pointer;color: #fff;
        }
        .cartfoot .btn_submit.green {
            background-color: #32c5d2;
            cursor: pointer;
            color: #fff;
        }
        /*multi*/
         #multi {
        position: absolute;
        z-index: 10067;
        background: #fff;
        bottom: auto;
    }

        #multi .pro_item {
            padding: 20px 10px 0 10px;
        }

        #multi .cabin-tit {
            margin-bottom: 15px;
        }

        #multi .cabin-select {
            top: -10px;
        }
        .back{ 
            position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10066;
            display: none;
        }