#overviewbody .CruiseDate_head, #overviewbody .MinAgentInside2_head, #overviewbody .MinAgentInside3_head, #overviewbody .MinAgentInside4_head, #overviewbody .MinAgentOceanview2_head, #overviewbody .MinAgentOceanview3_head, #overviewbody .MinAgentOceanview4_head, #overviewbody .MinAgentBalcony2_head, #overviewbody .MinAgentBalcony3_head, #overviewbody .MinAgentBalcony4_head, #overviewbody .MinAgentSuite2_head {
    cursor: pointer;
}

.zw-module-filtrate-condition {
    width: 100%;
    padding: 4px 20px 0 6px;
    background: #fff;
}

.condition-line {
    white-space: nowrap;
    font-size: 0;
    padding: 18px 0 0
}

.condition-title {
    width: 90px;
    font-size: 14px;
    color: #323232;
    padding-top: 1px
}

.condition-title, .condition-wrap {
    display: inline-block;
    line-height: 22px;
    vertical-align: top;
}

.condition-wrap {
    color: #636363;
    white-space: nowrap;
    font-size: 0;
    width: 100%;
    padding-right: 90px;
    padding-bottom: 4px;
    border-bottom: 1px solid #f0f0f0;
    position: relative
}

.condition-line:last-child .condition-wrap {
    border-bottom: none
}

.condition-all {
    vertical-align: top;
    padding-top: 1px
}

.condition-all, .condition-btn-link {
    display: inline-block;
    font-size: 14px
}

.condition-btn-link {
    color: #636363;
    padding: 0 6px 0 6px;
}

    .condition-btn-link:hover {
        color: #3598dc;
        text-decoration: underline;
    }

    .condition-btn-link.active {
        background-color: #3598dc;
        color: #fff;
        /*background: #3598dc url('/Images/s-remove.png') bottom right no-repeat;
        padding: 0 20px 0 5px;*/
    }

    .condition-list-cell .condition-btn-link, .condition-list-cell .condition-btn-link:hover, .condition-list-cell .condition-btn-link:link, .condition-list-cell .condition-btn-link:visited, .condition-list-cell .condition-btn-link:active, .condition-list-cell .condition-btn-link:focus, .condition-btn-link.active {
        padding: 0 6px 0 6px;
    }

        .condition-list-cell .condition-btn-link:hover {
            color: #3598dc;
            background: #fff;
            text-decoration: underline;
        }

        .condition-list-cell .condition-btn-link:focus {
            color: #fff;
            background-color: #3598dc;
            text-decoration: none;
        }

        .condition-btn-link.active:hover {
            color: #fff;
            background: #007BE5;
            text-decoration: none;
            /*background: #007BE5 url('/Images/s-remove.png') top right no-repeat;*/
        }

.condition-list-cell .dropdown-menu {
    padding-top: 10px;
}

.condition-list-wrap {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.condition-list {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.condition-list-cell {
    float: left;
    margin: 0 0 10px 10px;
}

    .condition-list-cell span.hot, .condition-list-cell span.visafree {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 16px
    }

        .condition-list-cell span.hot img, .condition-list-cell span.visafree img {
            position: absolute;
            top: -1px;
            left: -4px
        }

.condition-sub-list-wrap {
    display: none;
    width: 695px
}

.lxsj .condition-sub-list-wrap {
    margin: 0 15px 0 0
}

.condition-sub-list-tit {
    margin: 17px 15px 0 12px;
    border-bottom: 1px solid #ececec
}

.asc_arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.showtip {
    position: relative;
    cursor: pointer;
}

.tip {
    background: #fff;
    position: absolute;
    bottom: 10px;
    width: 130px;
    height: 20px;
    line-height: 14px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #ed6b75;
    text-align: center;
    left: 10px;
    top: -20px;
    z-index: 11;
}

    .tip .tipcon {
        color: #ed6b75;
        font-size: 12px;
        font-weight: 400;
    }

    .tip .arrow, .tip .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .tip .arrow {
        border-width: 7px;
        left: 10px;
        margin-left: -7px;
        border-top-color: #ed6b75;
        border-bottom-width: 0;
        top: 18px;
    }

        .tip .arrow:after {
            border-width: 6px;
            content: "";
            border-top-color: #fff;
            top: -7px;
            left: -6px;
        }
